In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
Healthcare=pd.read_csv("healthcare-dataset-stroke-data.csv")
Healthcare.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
Healthcare.shape

(5110, 12)

In [4]:
Healthcare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

MetaData

Dataset Name: Stroke Prediction Dataset

Description: This dataset contains information on individuals' health factors, including medical conditions, lifestyle habits, and demographics, to predict the likelihood of a stroke occurrence.

Data Columns:

id (int64): Unique identifier for each record. 
gender (object): Gender of the individual (e.g., "Male", "Female").  
age (float64): Age of the individual in years.  
hypertension (int64): Whether the individual has hypertension (1 = Yes, 0 = No).  
heart_disease (int64): Whether the individual has heart disease (1 = Yes, 0 = No).  
ever_married (object): Marital status ("Yes", "No").  
work_type (object): The type of work the individual does ("Private", "Self-employed", "Govt_job", "children", "Never_worked").  
Residence_type (object): Type of area where the individual resides ("Urban", "Rural").  
avg_glucose_level (float64): Average glucose level in the blood.  
bmi (float64): Body Mass Index (BMI). Some values may be missing (4910 non-null entries).  
smoking_status (object): Smoking status ("formerly smoked", "Never smoked", "Smokes", "Unknown").  
stroke (int64): Target variable indicating whether the individual had a stroke (1 = Yes, 0 = No).

In [5]:
np.sum(Healthcare.duplicated())

np.int64(0)

In [6]:
np.sum(Healthcare.isnull())

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
missing_percentage = Healthcare['bmi'].isnull().mean() * 100
print(f"Percentage of missing values in '{'bmi'}': {missing_percentage:.2f}%")

Percentage of missing values in 'bmi': 3.93%

In [8]:
Healthcare['bmi'].fillna(Healthcare['bmi'].mean(),inplace=True)
Healthcare.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [9]:
np.sum(Healthcare.isnull())

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [10]:
Healthcare['bmi'].isnull().mean() * 100

np.float64(0.0)

In [11]:
Healthcare.drop("id",axis=1,inplace=True)

In [12]:
Healthcare['gender']=Healthcare['gender'].apply(lambda x: 0 if x=="Male" else(1 if x=="Female" else 2))

In [13]:
Healthcare['ever_married']=Healthcare['ever_married'].apply(lambda x: 0 if x=="No" else 1)

In [14]:
Healthcare['Residence_type']=Healthcare['Residence_type'].apply(lambda x: 0 if x=="Urban" else 1)

In [15]:
Healthcare_encoded=pd.get_dummies(Healthcare,columns=["work_type","smoking_status"],drop_first=True)

In [18]:
Healthcare_encoded.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             5110 non-null   float64
 1   hypertension                    5110 non-null   int64
 2   heart_disease                   5110 non-null   int64
 3   avg_glucose_level               5110 non-null   float64
 4   bmi                             5110 non-null   float64
 5   stroke                          5110 non-null   int64
 6   gender_Male                     5110 non-null   bool
 7   gender_Other                    5110 non-null   bool
 8   ever_married_Yes                5110 non-null   bool
 9   Residence_type_Urban            5110 non-null   bool
 10  work_type_Never_worked          5110 non-null   bool
 11  work_type_Private               5110 non-null   bool
 12  work_type_Self-employed         5110 non-null   bool
 13  work_type_children              5110 non-null   bool
 14  smoking_status_formerly smoked  5110 non-null   bool
 15  smoking_status_never smoked     5110 non-null   bool
 16  smoking_status_smokes           5110 non-null   bool
dtypes: bool(11), float64(3), int64(3)
memory usage: 294.6 KB

In [19]:
numeric_Healthcare = Healthcare_encoded.select_dtypes(include=['number'])

In [20]:
Q1 = numeric_Healthcare.quantile(0.25)
Q3 = numeric_Healthcare.quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = (numeric_Healthcare < lower_bound) | (numeric_Healthcare > upper_bound)
outliers_count = outliers.sum()
print(outliers_count)

age                    0
hypertension         498
heart_disease        276
avg_glucose_level    627
bmi                  126
stroke               249
dtype: int64